# Python virtual environments
.venv/
venv/
ENV/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Databases & local data
*.csv
!wind_data.csv
!wind_data_dirty.csv


# Environment variables
.env

# IDE
.idea/
dags/wind_data.csv
